credentials.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.pipenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# MyPy
.mypy_cache/

# Pyre
.pyre/

# Pytype
.pytype/

# Cython debug symbols
cython_debug/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# SQLite database files
*.sqlite3

# dotenv
.env
.env.*

# Local testing
test.db

# Jupyter kernel files
*.kernel.json